body {
  margin: 0px;
  background-color: #e2f2ee;
}

.new-form {
  align-content: center;
  margin: 50px auto;
  width: 875px;
  height: 215px;

  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;

  filter: drop-shadow(10px 10px 3px rgba(0, 0, 0, 0.16));

  background: #ffffff;
}

.new-form h3 {
  padding-left: 50px;
}

.new-form input {
  margin-left: 150px;
  width: 600px;
  height: 75px;
  text-wrap: wrap;
}

.new-form button {
  border-color: #707070;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  width: 75px;
  height: 25px;
  margin-left: 780px;
  background: #1867ab;
}

.new-form .form-name {
  position: absolute;
  margin-left: 150px;

  margin-top: -20px;
  width: 600px;
  height: 15px;
}
